@import "Variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 350;
    
 }

 body {
  overflow: auto;
 }

 a {
  color: inherit;
  text-decoration: none;
 }

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $light-grey;

}
