@import "Variables.scss";

.footer {
    width: 100%;
    height: 10vh;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px 0 150px;
    background-color: $light-grey;
    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 20px;
    }

    button {
        border-radius: 50px;
        width: 80px;
        height: 25px;
        font-size: 12px;
        cursor: pointer;
        border: 1px solid black;

        &:hover {
            background: linear-gradient($light-grey, $light-grey) padding-box, linear-gradient(45deg, $pink 30%, $orange, $blue) border-box;
            border: 2px solid transparent;
            background-size: 600% 600%;
            animation: buttonAnimation 3s infinite;
        }
       

    }

    @keyframes buttonAnimation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 12px;
        font-weight: 500;

        &:hover {
            font-weight: 600;
            background: linear-gradient(45deg, $pink 30%, $orange, $blue);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 600% 600%;
            animation: buttonAnimation 3s infinite;   
        }
    }
}