@import "Variables.scss";

.charalist{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    height: 65vh;
    overflow: scroll;
    overflow-x: hidden;

    &__container {
        width: 700px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: center;
        gap: 20px;
        height: 70vh;
        margin-bottom: 20%;
       }

       @media (height > 730px) {
        
        &__container {
          margin-bottom: 8%;
        }
       }

       @media (max-width: 1024px) {
        &__container {
          margin-bottom: 15%;
        }
       }

       @media (min-width: 600px) and (max-width: 767px) {
        padding: 20px 20px 0 20px;
         
        &__container {
          margin-bottom: 15%;
        }
      }

      @media (min-width: 481px) and (max-width: 600px) {
         
        &__container {
          padding: 20px 30px 0 30px;
          margin-bottom: 60%;
          grid-template-columns: repeat(5, 1fr);
        }
      }

      @media (min-width: 320px) and (max-width: 481px) {
        height: fit-content;

        &__container {
          padding: 20px 30px 0 30px;
          margin-bottom: 5%;
          height: fit-content;
          grid-template-columns: repeat(2, 1fr);
        }
      }

       
}

.charabox {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.23);
    position: relative;
    cursor: pointer;
    background-color: white;
    transform-style: preserve-3d;    

    &:hover {   
      transform: scale(102%);

      &::before {
        content: "";
        position: absolute;
        border-radius: 100%;
        inset: -3px;
        transform: translate3d(0px, 0px, -1px);
        background: linear-gradient(45deg, #ff7ec3 30%, #ffc34a, #3cbff7);
        background-size: 600% 600%;
        filter: blur(5px);
        opacity: 0.6;
        animation: glow 3s infinite;
      }
    }
    
}

@keyframes glow {

  0% {
    background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
}
  
}

.blank {
    display: none;
    z-index: 1;
    width: 700px;
    height: 120vh;
    top: -5px;
    transform: translateX(-5px);
    background-color: $light-grey;
    position: absolute;

    &-top {
        display: block;
        opacity: 0;
        animation: blank 1s forwards;
    }
   }

   @keyframes blank {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
 }

 .clickedChara {
      z-index: 1;
    }