  //Fonts
  $main-font: "Inter", sans-serif;
  $titles: "Comfortaa", sans-serif;

  //Colors
  $light-grey: rgb(242, 242, 242);
  $pink: #e85ca7;
  $blue: #1c89b8;
  $orange: #E8B551;
  $red: #8d2133;
